/* Googlefont Poppins CDN Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* FONTS */

@import url(../css/clash-display.css);

/* VARIABLES */

:root {
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
    --transition: all 0.5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-base);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #E4E9F7;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    /* background: #3E8DA8; */
    background-color: rgb(0, 0, 0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

nav .navbar {
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: red; */
    padding: 0;
}

.navbar .logo a {
    font-size: 30px;
    /* color: #fff; */
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
}


/* nav-link */

nav .navbar .nav-links {
    line-height: 70px;
    height: 100%;
}

nav .navbar .links {
    display: flex;
}

nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
}

nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
}

nav .navbar .links li i {
    color: rgb(255, 255, 255);
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
    transform: rotate(180deg);
}

nav .navbar .links li .arrow {
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
    display: block;
}

.navbar .links li .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
    line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
    display: block;
}

.navbar .search-box {
    position: relative;
    height: 40px;
    width: 40px;
}

.navbar .search-box i {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    /* color: #fff; */
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar .search-box .input-box {
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: black;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box {
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #000000;
}

.search-box .input-box::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #000000;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}

.search-box .input-box input {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
}

.navbar .nav-links .sidebar-logo {
    display: none;
}

.navbar .bx-menu {
    display: none;
}

@media (max-width:920px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }
    nav .navbar .logo a {
        font-size: 27px;
    }
    nav .navbar .links li {
        padding: 0 10px;
        white-space: nowrap;
    }
    nav .navbar .links li a {
        font-size: 15px;
    }
}

@media (max-width:800px) {
    /* nav {
        position: relative;
    } */
    .navbar .bx-menu {
        display: block;
    }
    nav .navbar .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        /* background: #3E8DA8; */
        background: #000000;
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sidebar-logo .logo-name {
        font-size: 25px;
        /* color: #fff; */
        color: rgb(255, 255, 255);
    }
    .sidebar-logo i,
    .navbar .bx-menu {
        font-size: 25px;
        /* color: #fff; */
        color: rgb(255, 255, 255);
    }
    nav .navbar .links {
        display: block;
        margin-top: 20px;
    }
    nav .navbar .links li .arrow {
        line-height: 40px;
    }
    nav .navbar .links li {
        display: block;
    }
    nav .navbar .links li .sub-menu {
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }
    nav .navbar .links li .sub-menu li {
        border-bottom: none;
    }
    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
        position: relative;
        left: 0;
    }
    .navbar .links li .sub-menu .more-sub-menu li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow {
        transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
    }
    .navbar .links li .sub-menu .more span {
        /* background: red; */
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }
    .links li .sub-menu .more:hover .more-sub-menu {
        display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu {
        display: none;
    }
    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu {
        display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow {
        transform: rotate(180deg);
    }
    .navbar .nav-links.show2 .links .more-arrow {
        transform: rotate(90deg);
    }
}

@media (max-width:370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    }
}


/* main_content */

:root {
    --black: #24292d;
    --nav-main: #4070f4;
    --switchers-main: #0b3cc1;
}

.main_content {
    margin-top: 70px;
    background: #E4E9F7;
    padding-bottom: 100px;
}

.main_content h1 {
    text-align: center;
    color: #0b3cc1;
}

.main_content h3 {
    text-align: center;
    color: red;
}


/* môn học */

.seach-form {
    margin-left: 0;
    margin-right: 0;
}

.seach-form .input-text {
    margin-top: 70px;
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    background-color: #E4E9F7
}

.seach-form .input-text:focus {
    outline: none;
}

.seach-form .input-text:focus+.label,
.seach-form .input-text.not-empty+.label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
}

.seach-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.container_left {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.container_left .box {
    width: calc(33% - 10px);
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border-radius: 5px;
    margin: 15px 0;
}

.box .quote i {
    margin-top: 10px;
    font-size: 45px;
    color: #17c0eb
}

.container_left .box .image {
    margin: 10px 0;
    height: 150px;
    width: 150px;
    background: #0b3cc1;
    padding: 3px;
    border-radius: 50%;
}

.box .image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.box p {
    text-align: justify;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
}

.box .name_job {
    margin: 10px 0 3px 0;
    color: #0b3cc1;
    font-size: 18px;
    font-weight: 600;
}

.rating i {
    font-size: 18px;
    color: #0b3cc1;
    margin-bottom: 5px;
}

.btns {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.btns a {
    background: #0b3cc1;
    width: 100%;
    padding: 9px 0px;
    outline: none;
    border: 2px solid #0b3cc1;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: #0b3cc1;
    transition: all 0.3s linear;
    text-decoration: none;
}

.btns a {
    background: none;
    margin-right: 5px;
}

.btns a:hover {
    background: #0b3cc1;
    color: #fff;
}

.btns a:hover {
    color: #fff;
}

@media (max-width:1045px) {
    .container_left .box {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width:710px) {
    .container_left .box {
        width: 100%;
    }
}

.btn_page {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_page ul {
    display: flex;
    flex-direction: center;
    align-items: center;
}

.btn_page ul li {
    list-style: none;
    padding-left: 50px;
}

.btn_page ul div {
    padding-left: 50px;
}

.btn_page a {
    width: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #0b3cc1;
}

.btn_page div {
    cursor: pointer;
    font-size: 20px;
    color: #0b3cc1;
}

.btn_page a:hover {
    background: #0b3cc1;
    color: white;
    transition: all 0.2s linear;
    padding: 15px;
    /* border: 5px solid #0b3cc1; */
    border-radius: 10px;
    text-decoration: none;
}


/* FOOTER */

footer {
    padding-top: 50px;
    background: #171c24;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

footer li,
footer p,
footer a {
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer h5 {
    color: white;
    font-size: 18px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

footer .lines {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    padding-top: 10px;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}